PORT=4000
CORS_ORIGIN=http://localhost:5173
SESSION_SECRET=replace-this

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307
MYSQL_USER=root
MYSQL_PASSWORD=12345
MYSQL_DATABASE=curators_eye

# Leave MYSQL_URL empty when using the fields above
MYSQL_URL=

MET_CSV_PATH=../../data/met/MetObjects_update.csv
MET_ARTISTS_CSV_PATH=../../data/met/met_artists.csv
USERS_CSV_PATH=../../data/users/users_data.csv
